body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.category-container, .subcategory-container {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    border-radius: 30px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}

#dealResults {
    margin-top: 30px;
}

#dealList {
    list-style-type: none;
    padding: 0;
}

#dealList li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
